@use './colorsFonts.scss' as variables;
@use './ball.scss' as ball;
@use './designs.scss' as designs;
@use './loginStyle.scss' as login;


:root{
    --repetition: 3;
}

//login
@include login.style();



//homepage

@include ball.completedBall(20%, var(--repetition));

#pageContents{
    display: flex;
    flex-direction: column;

    #ball{
        margin: 10vh 0vh;
    }

    form{
        
        margin: auto;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        div{
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;
            font-size: 3vh;
            margin-bottom: 10px;
            #question{
                font-size: 3vh;
                border-width: 0px 0px 1px 0px;
                outline: none;
                font-family: variables.$question-font;
               
            }

            @media screen and (min-width: 500px) {
                font-size: 2rem;
                #question{
                    font-size: 2rem;
                }
    
            }

            @media screen and (min-width: 700px) {
                font-size: 3rem;
                #question{
                    font-size: 3rem;
                }
    
            }
        }
        #ask{
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
            font-family: variables.$answer-font;
            font-size: 1rem;

            @media screen and (min-width: 700px) {
                font-size: 2rem;
                #question{
                    font-size: 2rem;
                }
    
            }
        }

    }
}


#menu{
    display: flex;
    justify-content: flex-end;

    div{
        border: 1px solid variables.$dark;

        font-family: variables.$answer-font;
        color: variables.$dark;
        font-size: 3vh;
        padding: 5px;
        cursor: pointer;
        margin: 2px;


        @media screen and (min-width: 700px) {
            font-size: 2rem;

        }

       
    }

    div:hover{
        border-color: variables.$coolest;
        color: variables.$cool;
    }
}

.invalid{
    color: #4e3429;
    font-weight: bolder;
}



