@import url("https://fonts.googleapis.com/css2?family=Joan&family=Kdam+Thmor+Pro&family=Raleway:wght@200&display=swap");
:root {
  --repetition: 3;
}

#loginContents {
  margin: auto;
  border: 2px solid #110f0f;
  background-color: #d9d6ff;
  width: 60vw;
  height: 60vh;
  padding: 10px;
  flex-direction: column;
  z-index: 2;
  position: fixed;
  top: 20vh;
  left: 20vw;
  display: none;
}
@media screen and (min-width: 900px) {
  #loginContents {
    width: 30vw;
    height: 60vh;
    position: fixed;
    top: 20vh;
    left: 35vw;
  }
}

#back {
  border: 1px solid #4e3429;
  font-family: "Raleway";
  color: #4e3429;
  font-size: 3vh;
  padding: 5px;
  cursor: pointer;
  margin: 2px;
  text-align: center;
}
@media screen and (min-width: 700px) {
  #back {
    font-size: 2rem;
  }
}

#back:hover {
  border-color: #838ecd;
  color: #838ecd;
}

input {
  width: 50vw;
}
@media screen and (min-width: 700px) {
  input {
    width: 30vw;
  }
}

#createAcc {
  cursor: pointer;
  color: #838ecd;
}

#createAcc:hover {
  border: 0px solid #4e3429;
  border-bottom-width: 1px;
}

.center {
  margin: auto;
}

#createAccDiv {
  display: none;
}

#ball {
  display: flex;
  justify-content: center;
  align-items: center;
}
#ball #outerCircle {
  background-color: #110f0f;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animateBall 3s var(--repetition) alternate forwards;
}
@keyframes animateBall {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(-20%, 0%);
  }
  50% {
    transform: translate(-20%, 20%);
  }
  75% {
    transform: translate(0%, 20%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
#ball #outerCircle #innerCircle {
  background-color: #ffffff;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kdam Thmor Pro";
  font-size: 5rem;
  animation: animateBall 3s var(--repetition) alternate forwards;
}
@keyframes animateBall {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(-15%, 0%);
  }
  50% {
    transform: translate(-15%, 15%);
  }
  75% {
    transform: translate(0%, 15%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
#ball #outerCircle #innerCircle #answer {
  animation: animateBall 3s var(--repetition) alternate forwards;
}
@keyframes animateBall {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(-15%, 0%);
  }
  50% {
    transform: translate(-15%, 15%);
  }
  75% {
    transform: translate(0%, 15%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

#pageContents {
  display: flex;
  flex-direction: column;
}
#pageContents #ball {
  margin: 10vh 0vh;
}
#pageContents form {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
}
#pageContents form div {
  grid-column: 1/span 2;
  grid-row: 1/span 1;
  font-size: 3vh;
  margin-bottom: 10px;
}
#pageContents form div #question {
  font-size: 3vh;
  border-width: 0px 0px 1px 0px;
  outline: none;
  font-family: "Joan";
}
@media screen and (min-width: 500px) {
  #pageContents form div {
    font-size: 2rem;
  }
  #pageContents form div #question {
    font-size: 2rem;
  }
}
@media screen and (min-width: 700px) {
  #pageContents form div {
    font-size: 3rem;
  }
  #pageContents form div #question {
    font-size: 3rem;
  }
}
#pageContents form #ask {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  font-family: "Raleway";
  font-size: 1rem;
}
@media screen and (min-width: 700px) {
  #pageContents form #ask {
    font-size: 2rem;
  }
  #pageContents form #ask #question {
    font-size: 2rem;
  }
}

#menu {
  display: flex;
  justify-content: flex-end;
}
#menu div {
  border: 1px solid #4e3429;
  font-family: "Raleway";
  color: #4e3429;
  font-size: 3vh;
  padding: 5px;
  cursor: pointer;
  margin: 2px;
}
@media screen and (min-width: 700px) {
  #menu div {
    font-size: 2rem;
  }
}
#menu div:hover {
  border-color: #d9d6ff;
  color: #838ecd;
}

/*# sourceMappingURL=styles.css.map */
